<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <header id="header__site">
        {{> navbar}}
    </header>
    <main id="main__site">
        {{{ body }}}
    </main>
    <footer id="footer__site">
        {{> footer}}
    </footer>
    {{> scripts}}
</body>
</html>
