<form action="/neuro/config" method="POST">
    <input type="text" name="layouts" id="layouts__config">
    <input type="number" name="alpha" id="alpha" value="0.3" >
    <input type="submit" value="Submit">
</form>